<ion-view title="TodoApp">

    <ion-nav-buttons side="secondary">

        <a href='#/novo' class="button button-icon ion-plus"></a>

    </ion-nav-buttons>

    <ion-content ng-controller="ListaCtrl">

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="filtro">
            </label>
        </div>
            
        <ion-list>
            <ion-item class="item-icon-left" ng-repeat="t in tarefas | filter:filtro" ng-click="editar(t.id)"> <!-- ng-hide="t.concluida"-->
                <!--<i class="{{(t.concluida ? 'ion-android-done-all' : 'ion-android-done')}}"></i>-->
                <i ng-class="{&apos;icon ion-android-done-all&apos; : t.concluida, &apos;icon ion-android-done&apos; : !t.concluida}"></i>
                {{t.texto}}
                <ion-option-button class="button-positive icon-left ion-checkmark-round" ng-click="concluir(t.id)">{{(t.concluida ? 'Desconcluir' : 'Concluir')}}</ion-option-button>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar(t.id)">Apagar</ion-option-button>
            </ion-item>
        </ion-list>

     </ion-content>

</ion-view>